html,
body {
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

* {
  box-sizing: border-box; }

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), local("Open Sans-Regular"), url(/assets/open-sans-latin-400.woff2) format("woff2"), url(/assets/open-sans-latin-400.woff) format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans SemiBold"), local("Open Sans-SemiBold"), url(/assets/open-sans-latin-600.woff2) format("woff2"), url(/assets/open-sans-latin-600.woff) format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Source Code Pro Regular"), local("Source Code Pro-Regular"), url(/assets/source-code-pro-latin-400.woff2) format("woff2"), url(/assets/source-code-pro-latin-400.woff) format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: bold;
  src: local("Source Code Pro SemiBold"), local("Source Code Pro-SemiBold"), url(/assets/source-code-pro-latin-600.woff2) format("woff2"), url(/assets/source-code-pro-latin-600.woff) format("woff"); }

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); } }
@keyframes bounce {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); } }

body {
  background-color: #222;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

body > header {
  align-items: center;
  display: flex;
  height: 6rem;
  padding: 0 25vw; }
  body > header .logo img {
    height: 32px;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
  body > header .logo:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  body > header.landing {
    background: url(/assets/background.png) no-repeat center/cover;
    flex-direction: column;
    height: 100vh;
    justify-content: center; }
    body > header.landing .logo {
      align-items: center;
      align-self: flex-start;
      display: flex;
      height: 6rem; }
    body > header.landing .titles {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      text-align: center; }
      body > header.landing .titles h1,
      body > header.landing .titles h2 {
        font-weight: normal;
        letter-spacing: 0.05rem;
        margin: 0; }
      body > header.landing .titles h1 {
        font-size: 3rem; }
      body > header.landing .titles h2 {
        color: #aaa; }
    body > header.landing .scroll {
      -webkit-animation: bounce 1s ease-in-out 1s infinite alternate;
              animation: bounce 1s ease-in-out 1s infinite alternate;
      font-size: 2rem;
      opacity: 0.65;
      padding: 2rem 0;
      text-decoration: none; }

@media screen and (orientation: portrait) {
  body > header {
    justify-content: center; }
  body > header.landing .logo {
    align-self: center; } }

main {
  background-color: #fff;
  color: #111;
  padding: 0 25vw; }

@media screen and (orientation: portrait) {
  main {
    padding: 0 15vw; } }

main article {
  padding: 2rem 0; }
  main article + article {
    border-top: 1.5px solid #eee; }
  main article header h2 {
    margin: 0; }
    main article header h2 a {
      color: #444;
      text-decoration: none; }
      main article header h2 a:hover {
        color: #777; }
  main article header .field {
    color: #aaa; }
    main article header .field + .field {
      margin-left: 0.65rem; }
  main article footer {
    border-top: 1.5px solid #eee;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    padding: 1rem 0; }
    main article footer strong {
      display: block; }
    main article footer .field {
      font-size: 0.8rem; }
      main article footer .field + .field {
        margin-left: 0.5rem; }
      main article footer .field a {
        color: unset; }
    main article footer .share {
      flex-grow: 1;
      text-align: right; }
      main article footer .share [data-icon] {
        font-size: 1.25rem; }
    main article footer [data-icon] {
      color: #ccc;
      margin-right: 0.125rem;
      transition: color 0.25s ease-in-out; }
      main article footer [data-icon]:hover.twitter {
        color: #1da1f2; }
      main article footer [data-icon]:hover.facebook {
        color: #3b5998; }
      main article footer [data-icon]:hover.google-plus {
        color: #dd4b39; }
  main article a,
  main article p.more a {
    color: #0594cb;
    transition: color 0.25s ease-in-out; }
    main article a:hover,
    main article p.more a:hover {
      color: #96ccff; }
  main article.preview a {
    color: unset; }
  main article p.more {
    margin-bottom: 0; }
    main article p.more a {
      align-items: baseline;
      display: inline-flex; }
    main article p.more [data-icon] {
      font-size: 0.6rem;
      margin-left: 0.25rem; }
  main article code,
  main article pre {
    background-color: #eee;
    border-radius: 0.15rem; }
  main article code {
    color: #444;
    font-family: "Source Code Pro", monospace;
    padding: 0 0.25rem; }
  main article pre {
    overflow: auto;
    padding: 0 0.25rem;
    text-overflow: ellipsis; }
  main article img {
    display: block;
    margin: 2rem auto;
    max-width: 50vw; }

main.content article {
  padding: 4rem 0; }
  main.content article header {
    margin-bottom: 2rem; }
    main.content article header h1 {
      font-size: 2.5rem;
      margin: 0; }
  main.content article section h2, main.content article section h3 {
    margin: 2rem 0 1rem; }

main nav {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
  margin: 0 -25vw;
  padding: 1rem 25vw; }
  main nav a {
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 50vw; }
    main nav a [data-icon] {
      font-size: 2.5rem;
      opacity: 0.1;
      position: absolute;
      height: 100%;
      top: 0;
      transition: -webkit-transform 0.25s ease-in-out;
      transition: transform 0.25s ease-in-out;
      transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
    main nav a.prev [data-icon] {
      left: 0; }
    main nav a.next [data-icon] {
      right: 0; }
    main nav a .label {
      opacity: 0.5;
      display: block;
      font-size: 0.9rem; }
    main nav a .title {
      display: block;
      margin-top: 0.65rem; }
    main nav a time {
      opacity: 0.75; }
    main nav a:hover {
      color: #0594cb; }
      main nav a:hover [data-icon] {
        opacity: 1; }
      main nav a:hover.prev [data-icon] {
        -webkit-transform: translateX(-0.5rem);
                transform: translateX(-0.5rem); }
      main nav a:hover.next [data-icon] {
        -webkit-transform: translateX(0.5rem);
                transform: translateX(0.5rem); }
    main nav a + a {
      border-left: 1.5px solid #ddd; }

@media screen and (orientation: portrait) {
  main nav {
    margin: 0 -15vw;
    padding: 1rem 15vw; } }

body > footer {
  color: #aaa;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 1rem 25vw;
  text-align: center; }
  body > footer ul {
    display: flex;
    list-style-type: none;
    padding: 0; }
    body > footer ul li + li {
      margin-left: 1.5rem; }
  body > footer p.modified {
    opacity: 0.5; }
  body > footer a {
    text-decoration: none; }
    body > footer a [data-icon] {
      margin-right: 0.125rem; }

@media screen and (orientation: portrait) {
  body > footer {
    flex-direction: column;
    padding: 1rem 15vw; }
    body > footer ul {
      justify-content: center; } }


/*# sourceMappingURL=app.css.map*/